.container{
  margin-top: 3%;
  padding-top: 2%;
  box-shadow: 0 0 5px 1px #3aafa9;
  height: 550px;
}
.paragraph{
  float: left;
  text-transform: uppercase;
}
.h6{
  float: right;
  margin-left: 5%;
}
.image{
  margin-top: 50px;
  margin-right: 110px;
  margin-bottom: 95px;
  width: 100px;
  height: 100px;
  float: right;
}
#submit{
  margin-top: 30px;
}
#school{
  display: none;
}
h3{
  padding-top: 50px;
}
#column_select{
  width: 100%;
}
#layout_select{
  width: 100%;
}
#addon-wrapping{
  width: 50%;

  border: 5 5 5 5px black;
}
#submit{
  background-color: #a6e9e5;
}
#box{
  border: 1px solid grey;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  background-color:#3aafa9;
  box-shadow: 0px 0px 5px 3px grey;
  font-weight: bold;
  float: right;
  width: 250px;
  margin-top: 100px;
  margin-right: 100px;
  display: none;
}