body{
    background-image: url(./study\ image4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.nav-bar {
    position: fixed;
    max-width: 8%;
    height: 100%;
    background-color: #3AAFA9;
}
li>a{
    color: white;
}
