.nav-bar {
    position: fixed;
    max-width: 8%;
    height: 100%;
    background-color: grey;
}
li>a{
    color: white;
}
#botton{
    margin-left: 40%;
}
#textarea{
    margin-left: 20%;
    margin-right: 30%;
    width: 60%;
  }

  .contact-us > h1{
    padding-top: 40px;
    padding-bottom: 20px;
  }

input[placeholder], [placeholder], *[placeholder]{
    color: white;
}

input[type=text],input[type=email],#textarea{
    background: transparent;
    color: white;
    font-size: 20px;
    font-family: 'Copse', serif;
  }
  :-ms-input-placeholder{
      color: #ebdbdb;
  }
  



#name{
  width: 30%;
  margin-right: 30px;
}
#email{
  width: 30%;
}
#textarea{
  margin-left: 20%;
  margin-right: 30%;
  width: 51%;
}
