.container{
  margin-top: 3%;
  padding-top: 2%;
  box-shadow: 0 0 5px 2px grey;
  height: 450px;
}
.paragraph{
  float: left;
  text-transform: uppercase;
}
.h6{
  float: right;
  margin-left: 5%;
}
.image{
  margin-top: 70px;
  margin-left: 250px;
  width: 100px;
  height: 100px;
  ma
}