.nav-bar {
  position: fixed;
  max-width: 10%;
  height: 100%;
  background-color: black;
  float: left;
}
li>a{
  color: white;
}
.links{
  padding: 20px;
  padding-top: 200px;
}
.image1{
  padding-top: 10px;
}
.services{
  float: right;
  padding-right: 500px;
}
